body {
    background-color: #1c1c1c;
    color: #d4af37;
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #d4af37;
    padding: 20px;
    text-align: center;
    position: relative;
}

h1 {
    font-size: 50px;
    font-family: 'Trajan Pro', serif;
    margin: 0;
}

.subtitle {
    text-decoration: underline;
}

nav {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #d4af37;
    position: absolute;
    top: 25px;
    right: 20px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.menu li {
    display: inline;
}

.menu li a {
    text-decoration: none;
    color: #d4af37;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.3s;
}

.menu li a:hover {
    background-color: #2f2f2f;
    border-radius: 5px;
}


/* Estilo do Carrossel */
.container {
    max-width: 880px;
    position: relative;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #2f2f2f;
}

.container img {
    width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 28px;
    background-color: #000000a2;
    color: #d4af37;
    transition: 0.6s;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: #000000;
    transition: 0.6s;
}

.n_text {
    background-color: #0000009d;
    color: #d4af37;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 0;
}

.i_text {
    position: absolute;
    background-color: #0000009d;
    color: #d4af37;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 8px 0px;
    color: #ffffff;
}

h3 {
    font-family: 'Trajan Pro', serif;
    margin-top: 0;
    font-size: 30px;
}

p {
    font-size: 20px;
}

.dot_box {
    text-align: center;
    padding: 10px;
}

.dot {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    background-color: #727385;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s;
}

.active, .dot:hover {
    background-color: #494545;
    transition: 0.6s;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
}
footer {
    text-align: center;
    padding: 20px 0; 
    background-color: #000; 
    color: #d4af37; 
    position: relative;
    bottom: 0; 
    width: 100%; 
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.2em;
    }
    
    .subtitle {
        text-decoration: underline;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #000; 
        text-align: center;
    }

    .menu.active {
        display: flex;
        background-color: #000; 
    }

    .menu-icon {
        display: block;
    }
}
@media (max-width: 480px) {
    .fade {
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .n_text {
        position: relative; 
    }

    .i_text {
        position: relative; 
        margin-top: 20px; 
    }
}